In [1]:
from utils import kraken
from utils import graphutils as gu
import pandas as pd

Extract data from kraken api

In [2]:
conversions = kraken.get_all_conversions()
conversions

Download currency conversion data

In [11]:
kraken.save_to_csv("jan8.csv",conversions)

Load currency conversion data into list of dictionaries

In [14]:
conversions = kraken.create_from_csv("jan8.csv")

Load currency conversion data to create graph

In [6]:
#Option 1
graph1 = gu.Graph()
graph1.create_kraken_graph(csv_name="jan8.csv")

#Option 2
graph2 = gu.Graph()
graph2.create_kraken_graph(conversions=conversions)

Data

In [16]:
pd.DataFrame(conversions)

     curr1 curr2       price
0    1INCH   EUR    0.396027
1    1INCH   USD    0.436131
2     AAVE   ETH    0.042310
3     AAVE   EUR   91.056132
4     AAVE   GBP   78.353190
..     ...   ...         ...
672    ZRX   EUR    0.295767
673    ZRX   USD    0.323840
674    ZRX   XBT    0.000007
675    USD   CAD    1.338441
676    USD   JPY  144.061589

[677 rows x 3 columns]